@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

:root{
    --grey:#EEF5FF;
    --color1:#B4D4FF;
    --color2:#86B6F6;
    --color3:#176B87;

    --Niconne: 'Niconne'; 
    --Nunito: 'nunito'; 
}

*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

.swiper {
    width: 100%;
    height: 300px;
    border-right: 8px solid var(--color3);
    border-bottom: 8px solid var(--color3);
  }
.swiper-slide img{
    width: 100%;
    height: 100%;
}


/* ------------------------------------- */
/* COMMON STYLES */
/* ------------------------------------- */

.container{
    padding: 0 5rem;
}
.headerText{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 48px;
}

.btn{
    width: 150px;
    padding: 8px 6px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    transition: all .5s ease-in-out;
    font-size: 16px;
}

/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 3rem;
    position: fixed;
    border-bottom: 1px solid #176B87;
}

.logo{
    font-family: var(--Nunito);
}
.logo span{
    color: var(--color3);
}


nav ul{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;

}
nav ul li a{
    text-decoration: none;

}

/* ------------------------------------- */
/* HERO SECTION */
/* ------------------------------------- */
#hero{
    background-color: var(--grey);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.herobox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hero-desc, .hero-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-desc h1{
    font-size: 64px;
    font-weight: 800;
    color: var(--color3);
}
.hero-desc p{
    opacity: .5;
}
.hero-cta{
    display: flex;
    gap: 24px;

}
.hero-cta :first-child{
    background-color: var(--color3);
    color: white;
}
.hero-cta :first-child:hover{
    background-color: black;
}

.hero-cta :nth-child(even){
    color:var(--color3) ;
    border: 1px solid var(--color3);
    background-color: transparent;
}
.hero-cta :nth-child(even):hover{
    background-color: var(--color3);
    color: #EEF5FF;
}

@media screen and (max-width:768px) {
    .container{
        padding: 0 3rem;
    }

    .herobox{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .hero-desc, .hero-img{
        width: 100%;
    }
}

@media screen and (max-width:435px) {
    .hero-desc h1{
        font-size: 36px;
    }
    .hero-desc p{
        opacity: .5;
    }
}

/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */
#experience{
    width: 100%;
    background-color: #fff;
    padding: 3rem 0;
}
#experience h1{
    color: #176B87;
}
.experience-box{
    display: flex;
}
.my-experience{
    width: 50%;
    padding-right: 2rem;
}

.my-experience h2{

}
.my-experience p{
    margin: 2rem 0;
    color: gray;
}

.skill-box{
    display: flex;
    gap: 14px;
}

.skill-card{
    height: 150px;
    width: 150px;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    position: relative;
}
@media screen and (max-width: 768px) {
    .experience-box{
        flex-direction: column;
        gap: 2rem;
    }
    .my-experience{
        width: 100%;
        padding-right: 0;
    }
    .skill-box{
        overflow-x: scroll;
    }
}
/* ------------------------------------- */
/* INSTRUCTOR SECTION */
/* ------------------------------------- */

#instructors{
    width: 100%;
    background-color: var(--color3);
    padding: 3rem 0;
}
#instructors h1{
    color: #EEF5FF;

}

.instructor-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.instructor-card{
    width: 320px;
    height: 250px;
    background: #EEF5FF;
    border-radius: 16px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.instructor-comment{
    padding-bottom: 8px;
    border-bottom: 1px solid #176B87;
}
.instructor-comment p{
    color: rgba(0, 0, 0, 0.8);
}
.instructor-details{
    display: flex;
    gap: 20px;
}
.instructor-details img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-bottom: 2px solid #176B87;
}
.instructor-desc h3{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 16px;
}
.instructor-desc small{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-style: oblique;
}
.instructor-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem ;
}
.instructor-btn button{
    width: 150px;
    padding: 10px;
    background: #EEF5FF;
    color: #176B87;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.instructor-btn button:hover{
    color: #EEF5FF;
    background-color: black;

}

/* ------------------------------------- */
/* ODUMARETECH SECTION */
/* ------------------------------------- */
#odumaretech{
    background-color: var(--grey); 
    padding: 3rem 0;   
}
#odumaretech h1{
 color: var(--color3);
}
.odumare{

    display: flex;
}

.about-odumare{
    width: 50%;
}

.about-odumare{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-odumare p{
    color: gray;
}

.course-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.course-card{
    width: 200px;
    height: 200px;
    border: 1px solid #86B6F6;
    padding: 4px;
    border-radius: 4px;
    transition: all .3s ease-in;
    background-color: var(--color1);
}
.course-card:hover{
    background-color: #EEF5FF;
    border: none;
}